<html>

ul.nav {
  list-style-type: none;
  position: fixed;
  width: 100%;
   top: 0;
   left: 0;
  background-color: gray;
}

li.nav {
  display: inline;
  padding: 10px;
  margin: 50px;
}

a{
   float: left;
  text-decoration: none;
  color: white;
  padding: 14px 16px;
  font-size: 140%;
}

li a:hover{
  background-color: lightslategray;
  font-size: 150%;
}



h1 {
  background-color: #0066ff;
  color: white;
  border: 3px solid gold;
}

h2{
  font-size: 25px;
}

h3{
  font-size: 25px;
}

h4 {
  color: white;
  background-color: #0066ff;
  border: 3px solid gold;
  font-size: 30px;
}

h5 {
  color: white;
  background-color: indigo;
  border: 3px solid gold;
  font-size: 30px;
}

h6{
  color: #0066ff;
  background: white;
  border: 3px solid gold;
  font-size: 30px;
}


body{
  background-color: powderblue; 
  color: blue;
  font-size: 20px;
}

.column {
  display: table;
  width: 675px;
  height: 400px;
  color: white;
}

.row{
  display: flex;  
}

dt{
  font-size: 25px;
  text-decoration: underline;
}

div.abs{
  color: white;
  background-color: gold;
  border: 3px solid black;
  right: 50px;
  width: 350px;
  height: 350px;
  text-align: center;
}

div.herb{
   color: white;
  background-color: gold;
  border: 3px solid white;
  right: 50px;
  width: 350px;
  height: 350px;
  text-align: center;
}

li.jeff{
  color: indigo;
}





</html>
