body{
background-color: darkgray;
}



 ul.food {
  list-style-type: none;
  position: fixed;
  width: 100%;
   top: 0;
   left: 0;
  background-color: #3f37c9;
}

li.food {
  display: inline;
  padding: 10px;
  margin: 50px;
  letter-spacing: 3px;
  text-shadow: 1px 2px black;
}
a{
   float: left;
  text-decoration: none;
  color: white;
  padding: 14px 16px;
  font-size: 130%;
}

li a:hover{
  background-color: darkgray;
  font-size: 175%;
}

.topjump{
  position: sticky;
  bottom: 0;
  left: 90%;
  background-color: #3f37c9;
  border: 2px #3f37c9;
  height: 8%;
  width: 10%;
}

h2{
  background-color: snow;
  width: 8%;
  font-size: 150%;
  color: #3f37c9;
  letter-spacing: 3px;
  text-shadow: 1px 2px darkgray;
}

h3{
  background-color: snow;
  width: 9%;
  font-size: 150%;
    color: #3f37c9;
  letter-spacing: 3px;
  text-shadow: 1px 2px darkgray;
} 
h4{
  background-color: snow;
  width: 8%;
  font-size: 150%;
   color: #3f37c9;
  letter-spacing: 3px;
  text-shadow: 1px 2px darkgray; 
}
