body{
background-color: darkgray;
}



 ul.food {
  list-style-type: none;
  position: fixed;
  width: 100%;
   top: 0;
   left: 0;
  background-color: #3f37c9;
}

li.food {
  display: inline;
  padding: 10px;
  margin: 50px;
  letter-spacing: 3px;
  text-shadow: 1px 2px black;
}
a{
   float: left;
  text-decoration: none;
  color: white;
  padding: 14px 16px;
  font-size: 130%;
}

li a:hover{
  background-color: darkgray;
  font-size: 175%;
}

.topjump{
  position: sticky;
  bottom: 0;
  left: 90%;
  background-color: #3f37c9;
  border: 2px #3f37c9;
  height: 10%;
  width: 12%;
}


h3{
  background-color: snow;
  width: 11%;
  font-size: 150%;
    color: #3f37c9;
  letter-spacing: 3px;
  text-shadow: 1px 2px darkgray;
} 
h4{
  background-color: snow;
  width: 10%;
  font-size: 150%;
   color: #3f37c9;
  letter-spacing: 3px;
  text-shadow: 1px 2px darkgray; 
}


.grid {
display: grid;
grid-gap: 1%;
grid-template-columns: [col1-start] 30%  [col2-start] 30%   [col3-start] 30% [col3-end];
grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
color: #3f37c9;
width: 90%;
margin-left: 10%; 
margin-right:auto;
	}

	.box {
		background-color: #3f37c9;
		border-radius: 2%;
		padding: 5%;
	}

	.a {
		grid-column: col1-start / col3-start;
		grid-row: row1-start ;
	}
	.b {
		grid-column: col3-start ;
		grid-row: row1-start / row2-end;
	}
	.c {
		grid-column: col1-start;
		grid-row: row2-start ;
	}
	.d {
		grid-column: col2-start ;
		grid-row: row2-start ;
	}

able, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%; 
margin-right:auto;
}

td{
  text-align: center;
}

table{
  background-color: #3f37c9;
  color: snow;
}
